*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-size: 50px;
}

button {
    font-size: inherit;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    margin: 5% auto;
}

.output {
    text-align: right;
    background: black;
    color: white;
}

.row {
    display: flex;
}

.btn {
    border: 1px solid black;
}
.btn:active {
    background: #a09696;
}
.btn:last-child {
    background: #ea8425;
    color: white;
}

.btn:last-child:active{
    background: #efa35d;
}

.col-1 {
    flex-basis: 25%;
}

.col-2 {
    flex-basis: 50%;
}

.col-3 {
    flex-basis: 75%;
}